/* ==========  HEADER  ========== */

$header_margin-bottom-pv: -40px;
$header_margin-bottom-a3: -40px;
$header_margin-bottom-a4: -35px;
$header_margin-bottom-a5: -20px;
$header_margin-bottom-a6: -17px;

/* ==========  HEADER H1  ========== */

$header-h1_fontsize-pv: 2.5rem;
$header-h1_fontsize-a3: 3.4rem;
$header-h1_fontsize-a4: 2.1rem;
$header-h1_fontsize-a5: 1.6rem;
$header-h1_fontsize-a6: 1.12rem;

$header-h1_right-pv: 10px;
$header-h1_right-a3: 14px;
$header-h1_right-a4: 10px;
$header-h1_right-a5: 7px;
$header-h1_right-a6: 51%;

$header-h1_padding-pv: 10px;
$header-h1_padding-a3: 14px;
$header-h1_padding-a4: 10px;
$header-h1_padding-a5: 7px;
$header-h1_padding-a6: 4px;

$header-h1_margin-top-pv: 3.5%;
$header-h1_margin-top-a3: 3.5%;
$header-h1_margin-top-a4: 3.6%;
$header-h1_margin-top-a5: 2%;
$header-h1_margin-top-a6: 1%;

/* ==========  ASIDE WARRANTY  ========== */

$aside-warranty-margin-pv: 25px 80px 0 -130px;
$aside-warranty-margin-a3: 25px 154px 0 -21px;
$aside-warranty-margin-a4: 25px 110px 0 -15px;
$aside-warranty-margin-a5: 12px 77px 0 -10px;
$aside-warranty-margin-a6: 12px 55px 0 -7px;

$aside-warranty-heightandwidth-pv: 100px;
$aside-warranty-heightandwidth-a3: 124px;
$aside-warranty-heightandwidth-a4: 89px;
$aside-warranty-heightandwidth-a5: 62px;
$aside-warranty-heightandwidth-a6: 44px;

/* ==========  ASIDE ITEM  ========== */

$aside-item-heightandwidth-pv: 400px;
$aside-item-heightandwidth-a3: 560px;
$aside-item-heightandwidth-a4: 400px;
$aside-item-heightandwidth-a5: 280px;
$aside-item-heightandwidth-a6: 200px;

$aside-item-margin-left-pv: -140px;
$aside-item-margin-left-a3: -252px;
$aside-item-margin-left-a4: -180px;
$aside-item-margin-left-a5: -126px;
$aside-item-margin-left-a6: -90px;

/* ==========  ASIDE VELO  ========== */

$aside-velo-width-pv: 496px;
$aside-velo-width-a3: 632px;
$aside-velo-width-a4: 446px;
$aside-velo-width-a5: 311px;
$aside-velo-width-a6: 210px;

$aside-velo-height-pv: 288px;
$aside-velo-height-a3: 334px;
$aside-velo-height-a4: 238px;
$aside-velo-height-a5: 166px;
$aside-velo-height-a6: 119px;

/* ==========  WRAPPER  ========== */

$wrapper-padding-bottom-pv: 10px;
$wrapper-padding-bottom-a3: 14px;
$wrapper-padding-bottom-a4: 10px;
$wrapper-padding-bottom-a5: 7px;
$wrapper-padding-bottom-a6: 5px;

/* ==========  FIGCAPTION  ========== */

$figcaption_padding-pv: 8px;
$figcaption_padding-a3: 8px;
$figcaption_padding-a4: 8px;
$figcaption_padding-a5: 7px;
$figcaption_padding-a6: 4px;

$figcaption_width-pv: 480px;
$figcaption_width-a3: 616px;
$figcaption_width-a4: 430px;
$figcaption_width-a5: 316px;
$figcaption_width-a6: 210px;

$figcaption_height-pv: 280px;
$figcaption_height-a3: 334px;
$figcaption_height-a4: 238px;
$figcaption_height-a5: 166px;
$figcaption_height-a6: 119px;

$figcaption_margin-top-pv: -288px;
$figcaption_margin-top-a3: -334px;
$figcaption_margin-top-a4: -238px;
$figcaption_margin-top-a5: -166px;
$figcaption_margin-top-a6: -119px;

/* ==========  TOPLINE  ========== */

$topline_height-pv: 56px;
$topline_height-a3: 56px;
$topline_height-a4: 40px;
$topline_height-a5: 30px;
$topline_height-a6: 20px;

$topline-margin-top-pv: 3px;
$topline-margin-top-a3: 3px;
$topline-margin-top-a4: 2px;
$topline-margin-top-a5: 1px;
$topline-margin-top-a6: 0.5px;

/* ==========  ARTICULUS  ========== */

$articulus-fontsize-pv: 1.5rem;
$articulus-fontsize-a3: 1.68rem;
$articulus-fontsize-a4: 1.2rem;
$articulus-fontsize-a5: 1.1rem;
$articulus-fontsize-a6: 0.8rem;

/* ==========  DISCOUNT  ========== */

$discount-fontsize-pv: 2rem;
$discount-fontsize-a3: 2.3rem;
$discount-fontsize-a4: 1.6rem;
$discount-fontsize-a5: 1rem;
$discount-fontsize-a6: 0.8rem;

$discount-padding-pv: 6px;
$discount-padding-a3: 8px;
$discount-padding-a4: 6px;
$discount-padding-a5: 6px;
$discount-padding-a6: 2px;

/* ==========  PRICEDIV  ========== */

$pricediv-line-height-pv: 1;
$pricediv-line-height-a3: 1;
$pricediv-line-height-a4: 1;
$pricediv-line-height-a5: 0.9;
$pricediv-line-height-a6: 0.9;

/* ==========  OLDPRICE  ========== */

$oldprice-fontsize-pv: 3rem;
$oldprice-fontsize-a3: 3.3rem;
$oldprice-fontsize-a4: 2.4rem;
$oldprice-fontsize-a5: 1.4rem;
$oldprice-fontsize-a6: 1rem;

$oldprice-height-pv: 48px;
$oldprice-height-a3: 50px;
$oldprice-height-a4: 40px;
$oldprice-height-a5: 22px;
$oldprice-height-a6: 16px;

/* ==========  NEWPRICE  ========== */

$newprice-margin-top-pv: -10px;
$newprice-margin-top-a3: -15px;
$newprice-margin-top-a4: -10px;
$newprice-margin-top-a5: -8px;
$newprice-margin-top-a6: -7px;

$price-fontsize-pv: 8rem;
$price-fontsize-a3: 10rem;
$price-fontsize-a4: 7rem;
$price-fontsize-a5: 5.5rem;
$price-fontsize-a6: 3.5rem;

/* ==========  PRICE SMALL  ========== */

$price-small-fontsize-pv: 2.5rem;
$price-small-fontsize-a3: 3.6rem;
$price-small-fontsize-a4: 2.1rem;
$price-small-fontsize-a5: 1.7rem;
$price-small-fontsize-a6: 1.1rem;

$price-small-margin-top-pv: 5px;
$price-small-margin-top-a3: 5px;
$price-small-margin-top-a4: 5px;
$price-small-margin-top-a5: 2.5px;
$price-small-margin-top-a6: 2px;

$price-small-margin-right-pv: -2px;
$price-small-margin-right-a3: -2px;
$price-small-margin-right-a4: -4px;
$price-small-margin-right-a5: -6px;
$price-small-margin-right-a6: -6px;

/* ==========  SECTION FIGURE  ========== */

$section-figure-margin-pv: 4px;
$section-figure-margin-a3: 4px;
$section-figure-margin-a4: 4px;
$section-figure-margin-a5: 4px;
$section-figure-margin-a6: 2px;

$section-figure-img_width-pv: 70px;
$section-figure-img_width-a3: 70px;
$section-figure-img_width-a4: 70px;
$section-figure-img_width-a5: 50px;
$section-figure-img_width-a6: 35px;

/* ==========  SECTION FIGCAPTION  ========== */

$section-figcaption-line-height-pv: 1;
$section-figcaption-line-height-a3: 1;
$section-figcaption-line-height-a4: 1;
$section-figcaption-line-height-a5: 0.9;
$section-figcaption-line-height-a6: 0.9;

/* ==========  FIGCAPTION STRONG  ========== */

$figcaption-strong-fontsize-pv: 2.1rem;
$figcaption-strong-fontsize-a3: 2.6rem;
$figcaption-strong-fontsize-a4: 1.9rem;
$figcaption-strong-fontsize-a5: 1.2rem;
$figcaption-strong-fontsize-a6: 1rem;

/* ==========  FIGCAPTION SPAN  ========== */

$figcaption-span-fontsize-pv: 4.2rem;
$figcaption-span-fontsize-a3: 5.2rem;
$figcaption-span-fontsize-a4: 3.8rem;
$figcaption-span-fontsize-a5: 2.4rem;
$figcaption-span-fontsize-a6: 2rem;