header
	background-color: #0082C3
	z-index: 1

	h1
		font-size: 4em
		text-align: center
		margin: 0
		color: #fff
		font-family: roboto_thin
		font-weight: 300

	small
		text-align: center

	nav
		margin-bottom: -25px
		justify-content: space-between
