= stylesheet_link_tag 'app', media: 'all', 'data-turbolinks-track': 'reload'

%header
	%h1 ГЕНЕРАТОР БАЛИЗАЖЕЙ

%section
	%h1 Об авторах
	= link_to "<< В начало", { controller: :start }, class: 'button blue_button'
  %ln
