@font-face
	font-family: roboto
	src: url(roboto.ttf)

body
	font-family: roboto
	display: flex
	flex-flow: column wrap

header
	display: flex
	flex-flow: row nowrap
	justify-content: center
	height: auto
	margin: 0px
	width: 100%
	position: relative
	background-color: #004677
	a
		color: #fff
		align-self: flex-start
	h1
		text-align: center
		padding: 5px
		margin-top: 0px
		margin-bottom: 0px
		height: auto

form
	background-color: #fff
	width: 100%
	label
		color: #161614  
	input[type="file"]
		width: 72px
	input[type="text"]
		border: 0
		border-bottom: 2px solid #fff
		font-size: 20px
		padding: 5px
		height: 30px
		background-color: #0082c8
		color: #fff
		font-family: roboto
		border-radius: 5px
	a
		display: flex
		justify-content: center
		align-items: center

.button
	color: #fff
	border-radius: 7px
	border-width: 2px
	border-style: outset
	text-decoration: none

	font-size: 17px
	height: 40px
	font-family: roboto
	margin-top: 10px

.blue_button
	background-color: #0047A1

.small_button
	width: 30%

.button-delete
	color: #fff
	border-radius: 7px
	border-width: 2px
	border-style: outset
	text-decoration: none

	width: auto
	padding: 2px
	align-self: flex-end
	background-color: #9c3d5c

ln
	color: #161614
	height: 10px
	border-radius: 6px
	border-bottom: 2px solid
	margin: -5px
	margin-bottom: 2px
	padding-top: 3px
