@font-face
	font-family: roboto
	src: url(roboto.ttf)

@font-face
	font-family: roboto_thin
	src: url(robothin.ttf)

@font-face
	font-family: texgyreadventor
	src: url(texgyreadventor.otf)

body, header, nav, section, form, avantages, icons, figure, aside, figcaption, .button
	display: flex

body, header, section, form, avantages, aside, figcaption
	flex-direction: column

header, section
	width: 60%
	padding: 10px 5px 20px	

header, section, figure, input[type="text"], .button
	box-shadow: -4px 4px 0 rgba(0,0,0,0.24)
	border-radius: 2px


icons
	justify-content: center

	.icon
		padding: 5px
		margin: 15px


body
	font-family: roboto
	justify-content: flex-start
	align-items: center
	color: #fff
	background-color: #161614
	background-image: url(background.jpg)
	background-repeat: no-repeat
	background-size: cover
	background-attachment: fixed
	padding: 0px
	margin: 0


header
	margin-top: 40px
	background-color: #0082C3
	border-bottom-left-radius: 0
	border-bottom-right-radius: 0

	h1
		font-size: 4em
		text-align: center
		margin: 0
		margin-bottom: 7px
		color: #fff
		font-family: roboto_thin

	nav
		.button
			background-color: #fde828
			color: #000


section
	margin-bottom: 40px
	background-color: #fff
	border-top-left-radius: 0
	border-top-right-radius: 0
	color: #000

	.button
		background-color: #fee255

	h2
		padding: 5px
		margin: 3px
		font-family: roboto_thin

	menu
		display: inline-flex
		align-items: center
		margin-bottom: 0

		input
			margin-left: 2vw

		label
			font-size: 1.5em	


form
	width: 100%

	input[type="file"]
		width: 200px

	input[type="text"]
		height: 30px
		padding: 5px
		font-size: 20px
		border: 0
		background-color: #0082C3
		color: #fff
		font-family: roboto

	.item
		width: 60%
		margin-left: 50px


figure
	flex-wrap: nowrap
	justify-content: space-around
	align-items: center
	padding: 15px
	background-color: #fee255

	figcaption
		width: 80%
		margin: 3px
		align-items: stretch

	.button_small
		align-self: flex-end
		background-color: #9c3d5c

	aside
		display: flex
		width: auto

		img
			width: 70px
			border-radius: 2px

		.icon
			padding: 15px
			border-radius: 2px
			background-color: #0082C3


label
	color: #161614
	margin-top: 5px
	margin-bottom: 3px


.button
	justify-content: center
	align-items: center
	margin: 10px 40px
	border-style: none
	text-decoration: none
	font-size: 17px
	height: 40px
	font-family: roboto
	margin-top: 10px
	color: #000
	cursor: pointer

.button_small
	color: #fff
	width: auto
	margin: 0 5px
	padding: 0px 10px
	background-color: #9c3d5c

.small
	width: 30%

.contact
	label
		align-self: center
	.button
		margin: 0
		padding: 0 7px
		align-self: center

#_url
	margin: 10px 40px