form
  background-color: #fff
  width: 100%
  label
    color: #161614
  ln
    color: gray
    height: 10px
    border-radius: 7px
    border-bottom: 2px solid
    margin: -5px
    margin-bottom: 2px
    padding-top: 3px
  input[type="text"]
    border: 0
    border-bottom: 2px solid #fff
    font-size: 20px
    padding: 5px
    height: 30px
    background-color: #0082c8
    color: #fff
    font-family: roboto
    border-radius: 5px
  input[type="submit"], a
    color: #fff
    font-size: 17px
    height: 40px
    background-color: #0047A1
    font-family: roboto
    border-radius: 7px
    margin-top: 10px
  a
    display: flex
    justify-content: center
    align-items: center
    border-radius: 7px
    border-width: 2px
    border-style: outset