- @activity_name = 'api--icon-select'

- @icons.each do |icon|

	%li.mdl-list__item
		%figure.mdl-color--light-blue-500.selectIcon{ id: icon.id, onclick: 'selectIcon(event)' }
			%img.selectIcon{ src: icon.url }